/*table.need {*/
/*    color: red !important;*/
/*}*/

body {
    background: #002b36 url('background_1.png') 100% 100% !important;
    background-size: 100% 100% !important;
    /* the following are for firefox 70 */
	opacity:1;
    
	z-index:1;
}

.reveal-viewport {
    background: inherit;
}

.strike {
  text-decoration: line-through;
}

table.need tbody {
  color: #333;
  font-size: 0.7em;
}

img.needs_image {
  margin: 0;
}

.reveal pre {
	background: #333;
	padding: 10px;
}

table.NEEDS_TABLE {
	font-size: 0.7em;
}

table.needs_style_none {
    background-color: #aaa;
}
